---
http_interactions:
- request:
    method: get
    uri: https://api.pandastream.com/v2/encodings.json?access_key=406a5b5620af84ed047d&cloud_id=08f3efa18618adc397c31694f941afcf&profile_name=h264&signature=khRP2F9bz9jdzdpp9majzWXZNrad8dNFQXQ7jG77pxA=&timestamp=2012-12-03T04:13:06.080634Z&video_id=81292d1d14b508c23ae93dc98ccee543
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '[{"id":"0e4a9657c751e95cd6acfe2e89fd4d2b","extname":".mp4","video_id":"81292d1d14b508c23ae93dc98ccee543","height":480,"width":640,"created_at":"2012/11/28
        12:56:57 +0000","updated_at":"2012/11/28 12:57:14 +0000","started_encoding_at":"2012/11/28
        12:56:59 +0000","video_bitrate":650,"audio_bitrate":75,"audio_channels":1,"audio_sample_rate":44100,"fps":29.97,"audio_codec":"aac","video_codec":"h264","encoding_time":5,"duration":7405,"file_size":673219,"profile_id":"b465d0f8381ddb6d8ede5d02c1d6e9ac","encoding_progress":100,"status":"success","mime_type":"video/mp4","path":"0e4a9657c751e95cd6acfe2e89fd4d2b","profile_name":"h264","files":["0e4a9657c751e95cd6acfe2e89fd4d2b.mp4"]}]'
  recorded_at: Mon, 03 Dec 2012 04:13:10 GMT
- request:
    method: get
    uri: https://api.pandastream.com/v2/videos/81292d1d14b508c23ae93dc98ccee543.json?access_key=406a5b5620af84ed047d&cloud_id=08f3efa18618adc397c31694f941afcf&id=81292d1d14b508c23ae93dc98ccee543&signature=3WZ3ogrYT7Xx93jTxSJ8Gtkhic55jZ828xDWCxp8Rhk=&timestamp=2012-12-03T04:13:10.932206Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"id":"81292d1d14b508c23ae93dc98ccee543","created_at":"2012/11/28
        12:56:57 +0000","updated_at":"2012/11/28 12:56:59 +0000","original_filename":"SanDiegoArrival.mp4","source_url":null,"duration":7338,"height":480,"width":864,"extname":".mp4","file_size":2479478,"video_bitrate":2548,"audio_bitrate":158,"audio_codec":"aac","video_codec":"h264","fps":29.97,"audio_channels":1,"audio_sample_rate":44100,"status":"success","mime_type":"video/mp4","path":"81292d1d14b508c23ae93dc98ccee543"}'
  recorded_at: Mon, 03 Dec 2012 04:13:11 GMT
- request:
    method: get
    uri: https://api.pandastream.com/v2/clouds/08f3efa18618adc397c31694f941afcf.json?access_key=406a5b5620af84ed047d&signature=KODeRtVJEuS6zhYFdvzlHjVwnZ15VlWtgbLO7yW4lyU=&timestamp=2012-12-03T04:27:28.835858Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"id":"08f3efa18618adc397c31694f941afcf","name":"newblockcity","s3_videos_bucket":"newblockcity","s3_private_access":true,"created_at":"2012/11/28
        12:38:26 +0000","updated_at":"2012/12/03 04:12:05 +0000","url":"http://newblockcity.s3.amazonaws.com/"}'
  recorded_at: Mon, 03 Dec 2012 04:27:33 GMT
recorded_with: VCR 2.3.0
